$color__green : #03B97C;
$primary__color: #FBF5F5;
$text__color: #333D46;
$gradient__color: rgb(243, 154, 7);
$select__gb: #F7F8F9;
$color__black: #F7F8F9;
$footer__bg: #1D2636;

$large : 1200px;
$medium : 991px;
$smaill : 400px;