* {
  padding: 0rem;
  margin: 0rem;
  scroll-behavior: smooth;
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: sans-serif;
}

i {
  font-size: 1.5rem;
}

.navbar {
  background-color: #FBF5F5;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0rem;
}
.navbar .logo__section img {
  height: 4rem;
}
.navbar .nav__links {
  margin-left: 5rem;
}
.navbar .nav__links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 3rem;
}
.navbar .nav__links ul li {
  list-style: none;
}
.navbar .nav__links ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}
.navbar .nav__links ul li i {
  margin-left: 1rem;
}
.navbar .nav__links ul li .active {
  color: #03B97C;
}
.navbar .nav__links ul .active {
  color: #03B97C;
}
.navbar .button {
  margin-left: 45rem;
}
.navbar .button .myBtn {
  border: none;
  padding: 1.5rem 2.5rem;
  font-size: 1.5rem;
  background-color: #03B97C;
  color: white;
  border-radius: 1rem;
  cursor: pointer;
}
.navbar .button .myBtn:hover {
  background-color: white;
  border: 1px solid black;
  color: #03B97C;
}
.navbar .menu-icon {
  width: 20px;
  height: 15px;
  margin-left: 20px;
}
.navbar button i {
  margin-right: 1rem;
}

.hero__section {
  background-color: #FBF5F5;
  position: relative;
  padding-top: 8rem;
  padding-bottom: 11rem;
}
.hero__section .hero__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10rem;
}
.hero__section .hero__container .left_hero__container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
}
.hero__section .hero__container .left_hero__container .anthem {
  background: linear-gradient(153deg, rgb(243, 154, 7) 0%, rgb(14, 184, 119) 97%);
  padding: 1.5rem 2.5rem;
  border-radius: 0.5rem;
}
.hero__section .hero__container .left_hero__container .anthem h1 {
  font-size: 1rem;
  color: white;
  letter-spacing: 0.2rem;
}
.hero__section .hero__container .left_hero__container .text h1 {
  font-size: 5rem;
}
.hero__section .hero__container .left_hero__container .text p {
  font-size: 2rem;
  font-weight: 100;
  color: rgb(107, 106, 106);
  margin-top: 1.4rem;
}
.hero__section .hero__container .left_hero__container .search {
  background-color: white;
  padding-left: 3rem;
}
.hero__section .hero__container .left_hero__container .search i {
  width: 3rem;
  color: rgb(107, 106, 106);
}
.hero__section .hero__container .left_hero__container .search input {
  outline: none;
  border: none;
  font-size: 2rem;
  width: 40rem;
  height: 6rem;
}
.hero__section .hero__container .left_hero__container .search button {
  border: none;
  padding: 1.5rem 2.5rem;
  font-size: 1.5rem;
  background-color: #03B97C;
  color: white;
  border-radius: 1rem;
  cursor: pointer;
  border-radius: 0rem;
  border-radius: 0rem 1rem 1rem 0rem;
  height: 6rem;
}
.hero__section .hero__container .left_hero__container .search button:hover {
  background-color: rgb(4, 129, 4);
}
.hero__section .hero__container .right_hero__container img {
  height: 50rem;
}

.enroll__section .enroll__main__controller {
  background-color: #FFFFFF;
  padding: 1rem 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 4rem;
  position: absolute;
  left: 15rem;
  top: 60rem;
  box-shadow: 0px 0px 10px #e3dfdf;
}
.enroll__section .enroll__main__controller .ratiing__enroll {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.enroll__section .enroll__main__controller .ratiing__enroll h1 {
  font-size: 3rem;
}
.enroll__section .enroll__main__controller .ratiing__enroll .star__icon i {
  color: #FF9800;
}
.enroll__section .enroll__main__controller .ratiing__enroll p {
  font-size: 2rem;
}
.enroll__section .enroll__main__controller .enroll__items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}
.enroll__section .enroll__main__controller .enroll__items .enroll__items--icon .first {
  padding: 2rem;
  border-radius: 50%;
  border: 2px dotted #FF9800;
  color: #FF9800;
  background-color: #F2EDFA;
}
.enroll__section .enroll__main__controller .enroll__items .enroll__items--icon .second {
  padding: 2rem;
  border-radius: 50%;
  border: 2px dotted #906AD4;
  color: #906AD4;
  background-color: #F2EDFA;
}
.enroll__section .enroll__main__controller .enroll__items .enroll__items--icon .third {
  padding: 2rem;
  border-radius: 50%;
  border: 2px dotted #03B97C;
  color: #03B97C;
  background-color: #F2EDFA;
}
.enroll__section .enroll__main__controller .enroll__items .enroll__items--icon .forth {
  padding: 2rem;
  border-radius: 50%;
  border: 2px dotted #7CBF2F;
  color: #7CBF2F;
  background-color: #F2EDFA;
}
.enroll__section .enroll__main__controller .enroll__items h1 {
  font-size: 1.5rem;
}

.courses__section {
  margin-top: 13rem;
}
.courses__section .courses__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
}
.courses__section .courses__container .courses__text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.courses__section .courses__container .courses__text h1 {
  font-size: 3rem;
  font-weight: 700;
}
.courses__section .courses__container .courses__text h1 span {
  font-size: 3rem;
  font-weight: 700;
  color: #03B97C;
}
.courses__section .courses__container .courses__text p {
  font-size: 1.75rem;
  text-align: center;
  line-height: 3rem;
}
.courses__section .sliding__images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
  margin: 5rem 20rem;
}
.courses__section .sliding__images .caroudsl__contrnt {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid rgb(235, 231, 231);
}
.courses__section .sliding__images .caroudsl__contrnt .carousel__container {
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.courses__section .sliding__images .caroudsl__contrnt .carousel__container .image img {
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.courses__section .sliding__images .caroudsl__contrnt .carousel__container .image img:hover {
  transform: scale(1.06);
}
.courses__section .sliding__images .caroudsl__contrnt .carousel__container .carousel__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 18rem;
}
.courses__section .sliding__images .caroudsl__contrnt .carousel__container .carousel__btn button {
  background-color: #E5F8F2;
  padding: 1rem 1rem;
  color: #03B97C;
  font-size: 1.3rem;
  border-radius: 20rem;
  font-weight: 700;
}
.courses__section .sliding__images .caroudsl__contrnt .carousel__container .carousel__btn h1 {
  color: #03B97C;
  font-weight: 700;
}
.courses__section .sliding__images .caroudsl__contrnt .carousel__container .caurasaul__title {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}
.courses__section .sliding__images .caroudsl__contrnt .carousel__container .caurasaul__title h1 {
  font-size: 1.75rem;
  cursor: pointer;
  font-weight: 700;
}
.courses__section .sliding__images .caroudsl__contrnt .carousel__container .caurasaul__title h1:hover {
  color: #03B97C;
}
.courses__section .sliding__images .caroudsl__contrnt .carousel__container .caurasaul__title .caursaul__timing {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 3rem;
}
.courses__section .sliding__images .caroudsl__contrnt .carousel__container .caurasaul__title .caursaul__timing .causaul__icons {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}
.courses__section .sliding__images .caroudsl__contrnt .carousel__container .caurasaul__title .caursaul__timing .causaul__icons p {
  font-size: 1.2rem;
  font-weight: 500;
}
.courses__section .sliding__images .caroudsl__contrnt .carousel__container .caurasaul__title .caursaul__timing .causaul__icons .red {
  color: red;
}
.courses__section .sliding__images .caroudsl__contrnt .carousel__container .caurasaul__title .caursaul__timing .causaul__icons .green {
  color: #03B97C;
}
.courses__section .sliding__images .caroudsl__contrnt .carousel__container .caurasaul__title .caursaul__timing .causaul__icons .orange {
  color: orange;
}
.courses__section .sliding__images .caroudsl__contrnt hr {
  width: 100%;
}
.courses__section .sliding__images .caroudsl__contrnt .person__information {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10rem;
}
.courses__section .sliding__images .caroudsl__contrnt .person__information .person__image img {
  height: 5rem;
  border-radius: 20rem;
  width: auto;
}
.courses__section .sliding__images .caroudsl__contrnt .person__information .person__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
}
.courses__section .sliding__images .caroudsl__contrnt .person__information .person__icons .subdiv {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}
.courses__section .sliding__images .caroudsl__contrnt .person__information .person__icons .subdiv .red {
  color: red;
}
.courses__section .sliding__images .caroudsl__contrnt .person__information .person__icons .subdiv .green {
  color: #03B97C;
}
.courses__section .sliding__images .caroudsl__contrnt .person__information .person__icons .subdiv .orange {
  color: orange;
}
.courses__section .sliding__images .caroudsl__contrnt .person__information .person__icons .subdiv p {
  font-size: 1.4rem;
}

.category__section {
  padding-top: 4rem;
  background-color: #FBF5F5;
}
.category__section .category__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}
.category__section .category__container .category__head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.category__section .category__container .category__head h1 {
  font-size: 3rem;
  font-weight: 700;
}
.category__section .category__container .category__head h1 span {
  font-size: 3rem;
  font-weight: 700;
  color: #03B97C;
}
.category__section .category__container .category__head p {
  font-size: 1.5rem;
  text-align: center;
  line-height: 3rem;
}
.category__section .category__container .category__lower {
  padding: 4rem 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5rem;
  flex-wrap: wrap;
}
.category__section .category__container .category__lower .category__lower--div {
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  padding: 2rem 2rem;
  cursor: pointer;
  border-radius: 1rem;
  width: 20%;
}
.category__section .category__container .category__lower .category__lower--div .upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 9rem;
}
.category__section .category__container .category__lower .category__lower--div .upper i {
  color: rgb(83, 240, 221);
  font-size: 4rem;
}
.category__section .category__container .category__lower .category__lower--div .upper .upper__Subdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 5rem;
  font-size: 3rem;
}
.category__section .category__container .category__lower .category__lower--div .upper .upper__Subdiv li {
  list-style: none;
}
.category__section .category__container .category__lower .category__lower--div .upper .upper__Subdiv li a {
  color: rgb(79, 78, 78);
}
.category__section .category__container .category__lower .category__lower--div .upper .upper__Subdiv li a i {
  font-size: 1rem;
  color: rgb(79, 78, 78);
}
.category__section .category__container .category__lower .category__lower--div .upper:hover {
  color: white;
}
.category__section .category__container .category__lower .category__lower--div .lower {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.category__section .category__container .category__lower .category__lower--div .lower h1 {
  font-size: 2rem;
}
.category__section .category__container .category__lower .category__lower--div .lower p {
  font-size: 1.4rem;
}
.category__section .category__container .category__lower .category__lower--div .lower:hover {
  color: white;
}
.category__section .category__container .category__lower .category__lower--div:hover {
  background-color: #03B97C;
  color: white;
}

.instructor__section {
  padding: 6rem 10rem;
}
.instructor__section .instructor__main--container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
}
.instructor__section .instructor__main--container .instructor__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.instructor__section .instructor__main--container .instructor__header h1 {
  font-size: 3rem;
  font-weight: 700;
}
.instructor__section .instructor__main--container .instructor__header h1 span {
  font-size: 3rem;
  font-weight: 700;
  color: #03B97C;
}
.instructor__section .instructor__main--container .instructor__header p {
  font-size: 1.75rem;
  line-height: 4rem;
  text-align: center;
}
.instructor__section .instructor__main--container .instructor__lower {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 3rem;
}
.instructor__section .instructor__main--container .instructor__lower .instructor__profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.4rem;
  cursor: pointer;
  border: 1px solid rgb(206, 203, 203);
  padding-bottom: 2rem;
}
.instructor__section .instructor__main--container .instructor__lower .instructor__profile h1 {
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
}
.instructor__section .instructor__main--container .instructor__lower .instructor__profile h1:hover {
  color: #03B97C;
}
.instructor__section .instructor__main--container .instructor__lower .instructor__profile .instructor-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}
.instructor__section .instructor__main--container .instructor__lower .instructor__profile .instructor-icon i {
  color: #03B97C;
}
.instructor__section .instructor__main--container .instructor__lower .instructor__profile .instructor-icon p {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.instructor__section .instructor__main--container .instructor__lower .instructor__profile .person__btn {
  border: none;
  padding: 1.5rem 2.5rem;
  font-size: 1.5rem;
  background-color: white;
  color: white;
  border-radius: 1rem;
  cursor: pointer;
  border: 1px solid #03B97C;
  color: #03B97C;
}
.instructor__section .instructor__main--container .instructor__lower .instructor__profile .person__btn:hover {
  background-color: #03B97C;
  color: white;
}

.review__section {
  background-color: #FBF5F5;
  padding: 6rem 10rem;
}
.review__section .review__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
}
.review__section .review__container .review__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.review__section .review__container .review__header h1 {
  font-size: 3rem;
  font-weight: 700;
}
.review__section .review__container .review__header h1 span {
  font-size: 3rem;
  font-weight: 700;
  color: #03B97C;
}
.review__section .review__container .review__header p {
  font-size: 1.75rem;
  line-height: 4rem;
  text-align: center;
  color: #61615f;
}
.review__section .review__container .review__lower {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 3rem;
}
.review__section .review__container .review__lower .grater__arrow {
  background-color: #03B97C;
  color: white;
  padding: 1rem;
  border-radius: 10rem;
  cursor: pointer;
}
.review__section .review__container .review__lower .personal__details--review {
  background-color: white;
  padding: 3rem 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.review__section .review__container .review__lower .personal__details--review .person__info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  gap: 2rem;
}
.review__section .review__container .review__lower .personal__details--review .person__info img {
  height: 6rem;
  width: auto;
  border-radius: 20rem;
}
.review__section .review__container .review__lower .personal__details--review .person__info .person--name {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0rem;
}
.review__section .review__container .review__lower .personal__details--review .person__info .person--name h1 {
  font-size: 1.5rem;
  font-weight: 700;
}
.review__section .review__container .review__lower .personal__details--review .person__info .person--name p {
  font-size: 1.2rem;
  color: #61615f;
}
.review__section .review__container .review__lower .personal__details--review .person__info .person--name .rating-review {
  background-color: #FF9800;
  padding: 0rem 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}
.review__section .review__container .review__lower .personal__details--review .person__info .person--name .rating-review i {
  font-size: 1rem;
  color: white;
}
.review__section .review__container .review__lower .personal__details--review .person__info .person--name .rating-review p {
  color: white;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
.review__section .review__container .review__lower .personal__details--review p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #61615f;
}
.review__section .review__container .hidden {
  display: none;
}

.app__section {
  padding-top: 10rem;
}
.app__section .app__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 19rem;
}
.app__section .app__container .app--left {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.app__section .app__container .app--left h1 {
  font-size: 4rem;
  font-weight: 700;
}
.app__section .app__container .app--left p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #61615f;
}
.app__section .app__container .app--left .app__logo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 4rem;
}
.app__section .app__container .app--left .app__logo .logo__app--store {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1.5rem;
  background-color: black;
  color: white;
  padding: 1rem 3rem;
  border-radius: 1rem;
  cursor: pointer;
}
.app__section .app__container .app--left .app__logo .logo__app--store i {
  font-size: 4rem;
}
.app__section .app__container .app--left .app__logo .logo__app--store .app__logo--name {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.app__section .app__container .app--left .app__logo .logo__app--store .app__logo--name h1 {
  font-size: 2rem;
  font-weight: 700;
}
.app__section .app__container .app--left .app__logo .logo__app--store .app__logo--name h2 {
  font-size: 1.4rem;
}
.app__section .app__container .app--left .app__logo .app-hover:hover {
  background-color: #03B97C;
}

.question__section {
  padding: 5rem 17rem;
  background-color: #03B97C;
  color: #FBF5F5;
}
.question__section .question__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  gap: 25rem;
}
.question__section .question__container .question__container--left {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}
.question__section .question__container .question__container--left h1 {
  font-size: 3rem;
}
.question__section .question__container .question__container--left p {
  font-size: 1.5rem;
}
.question__section .question__container .question__container--right .outer__div {
  padding: 0.5rem;
  background-color: #35C796;
  border-radius: 5rem;
}
.question__section .question__container .question__container--right .outer__div .inner__div {
  background-color: white;
  padding: 2rem 4rem;
  border-radius: 5rem;
}
.question__section .question__container .question__container--right .outer__div .inner__div a {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.7rem;
  color: black;
}

.footer__section {
  padding: 6rem 0rem;
  padding-bottom: 2rem;
  background-color: #1D2636;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1.3rem;
}
.footer__section .footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 12rem;
}
.footer__section .footer__container .footer--first {
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.footer__section .footer__container .footer--first .footer__logo img {
  height: 3.5rem;
}
.footer__section .footer__container .footer--first h1 {
  font-size: 2.5rem;
}
.footer__section .footer__container .footer--first p {
  font-size: 1.5rem;
  color: #747375;
  line-height: 3rem;
}
.footer__section .footer__container .footer--first .footer__search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  background-color: white;
  padding-left: 1rem;
  border-radius: 0rem 1rem 1rem 0rem;
}
.footer__section .footer__container .footer--first .footer__search input {
  outline: none;
  border: none;
  font-size: 1.5rem;
  width: 40rem;
  height: 2rem;
}
.footer__section .footer__container .footer--first .footer__search button {
  border: none;
  padding: 1.5rem 2.5rem;
  font-size: 1.5rem;
  background-color: #03B97C;
  color: white;
  border-radius: 1rem;
  cursor: pointer;
  border-radius: 0rem;
  border-radius: 0rem 1rem 1rem 0rem;
  height: 5rem;
}
.footer__section .footer__container .footer--first .footer__search button:hover {
  background-color: rgb(4, 129, 4);
}
.footer__section .footer__container .footer--second {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
}
.footer__section .footer__container .footer--second h1 {
  font-size: 1.5rem;
  color: white;
  font-weight: 700;
}
.footer__section .footer__container .footer--second ul {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1.4rem;
  margin-left: -2rem;
}
.footer__section .footer__container .footer--second ul li {
  list-style: none;
}
.footer__section .footer__container .footer--second ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #747375;
}
.footer__section hr {
  width: 100%;
  color: rgb(175, 173, 173);
}
.footer__section p {
  font-size: 1.3rem;
  color: #747375;
}

@media screen and (max-width: 991px) {
  .navbar {
    width: 100%;
  }
  .navbar .button {
    margin-left: 17rem;
  }
  .hero__section .hero__container {
    width: 100%;
  }
  .navbar .logo__section img {
    height: 3rem;
  }
  .navbar .nav__links {
    margin-left: 1rem;
  }
  .navbar .button {
    margin-left: 45rem;
  }
  .footer__section .footer__container {
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10rem;
  }
  .footer__section {
    padding: 2rem;
    justify-content: space-between;
  }
  .footer__section .footer__container .footer--first .footer__search input {
    width: 20rem;
  }
  .footer__section .footer__container .footer--first h1 {
    font-size: 1.5rem;
  }
  .footer__section .footer__container .footer--first .footer__logo img {
    height: 2.5rem;
  }
  .footer__section .footer__container .footer--first p {
    font-size: 1rem;
    line-height: 2rem;
  }
  .footer__section .footer__container .footer--second h1 {
    font-size: 1rem;
  }
  .footer__section .footer__container .footer--second ul li a {
    font-size: 1rem;
  }
  .question__section {
    padding: 2rem 5rem;
  }
  .question__section .question__container .question__container--left h1 {
    font-size: 2rem;
  }
  .question__section .question__container .question__container--left p {
    font-size: 1rem;
  }
  .question__section .question__container .question__container--right .outer__div .inner__div {
    padding: 1rem 2rem;
  }
  .app__section {
    padding-top: 5rem;
  }
  .app__section .app__container {
    gap: 15rem;
  }
  .app__section .app__container .app__right img {
    height: 32rem;
  }
  .app__section .app__container .app--left h1 {
    font-size: 2rem;
  }
  .app__section .app__container .app--left p {
    font-size: 1rem;
    line-height: 2.5rem;
    color: #61615f;
  }
  .app__section .app__container .app--left .app__logo .logo__app--store {
    padding: 0.5rem 1rem;
  }
  .app__section .app__container .app--left .app__logo .logo__app--store i {
    font-size: 2rem;
  }
  .app__section .app__container .app--left .app__logo .logo__app--store .app__logo--name {
    gap: 0rem;
  }
  .app__section .app__container .app--left .app__logo .logo__app--store .app__logo--name h2 {
    font-size: 1rem;
  }
  .app__section .app__container .app--left .app__logo .logo__app--store .app__logo--name h1 {
    font-size: 1.5rem;
  }
  .review__section {
    padding: 1rem 1rem;
  }
  .review__section .review__container {
    gap: 0rem;
  }
  .review__section .review__container .review__header p {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .review__section .review__container .review__header h1 {
    font-size: 2rem;
  }
  .review__section .review__container .review__header h1 span {
    font-size: 2rem;
  }
  .instructor__section {
    padding: 1rem 1rem;
  }
  .instructor__section .instructor__main--container .instructor__lower {
    flex-wrap: wrap;
  }
  .instructor__section .instructor__main--container .instructor__header p {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .instructor__section .instructor__main--container .instructor__header h1 {
    font-size: 2rem;
  }
  .instructor__section .instructor__main--container .instructor__header h1 span {
    font-size: 2rem;
  }
  .category__section .category__container {
    gap: 0rem;
  }
  .category__section .category__container .category__head h1 {
    font-size: 2rem;
  }
  .category__section .category__container .category__head h1 span {
    font-size: 2rem;
  }
  .category__section .category__container .category__head {
    gap: 0rem;
  }
  .category__section .category__container .category__head p {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .category__section .category__container .category__lower {
    padding: 4rem;
  }
  .category__section .category__container .category__lower .category__lower--div {
    width: 30%;
  }
  .category__section .category__container .category__lower .category__lower--div {
    gap: 1rem;
  }
  .courses__section .courses__container {
    gap: 0rem;
  }
  .courses__section .courses__container .courses__text h1 {
    font-size: 2rem;
  }
  .courses__section .courses__container .courses__text h1 span {
    font-size: 2rem;
  }
  .courses__section .courses__container .courses__text {
    gap: 0rem;
  }
  .courses__section .courses__container .courses__text p {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .courses__section .sliding__images {
    flex-wrap: wrap;
  }
  .enroll__section .enroll__main__controller {
    background-color: #FFFFFF;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    position: absolute;
    left: 1rem;
    top: 42rem;
    box-shadow: 0px 0px 10px #e3dfdf;
  }
  .hero__section .hero__container .right_hero__container img {
    height: 27rem;
  }
  .hero__section .hero__container .left_hero__container .text h1 {
    font-size: 3rem;
  }
  .hero__section .hero__container {
    gap: 0rem;
  }
  .hero__section .hero__container .left_hero__container {
    gap: 1rem;
  }
  .hero__section .hero__container .left_hero__container .text p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .enroll__section .enroll__main__controller .ratiing__enroll p {
    font-size: 1rem;
  }
  .enroll__section .enroll__main__controller .ratiing__enroll {
    gap: 0rem;
  }
  .enroll__section .enroll__main__controller .enroll__items h1 {
    font-size: 1rem;
  }
  .navbar .nav__links ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: rgb(46, 48, 46);
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
    flex-direction: column;
    gap: 0rem;
    align-items: flex-end;
  }
  .navbar .nav__links ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .navbar .nav__links ul li a {
    color: #fff;
  }
  .navbar {
    gap: 1rem;
  }
}
@media screen and (max-width: 800px) {
  .navbar .button {
    margin-left: 10rem;
  }
  .footer__section .footer__container {
    flex-direction: column;
    padding: 1rem 11rem;
  }
  .review__section .review__container .review__lower {
    flex-direction: column;
    padding: 1rem 11rem;
  }
  .app__section .app__container {
    flex-direction: column;
    gap: 3rem;
    align-items: flex-start;
    padding: 1rem;
  }
  .question__section .question__container {
    gap: 0rem;
  }
  .question__section {
    padding: 2rem 1rem;
  }
  .footer__section {
    align-items: flex-start;
  }
  .footer__section .footer__container {
    gap: 1rem;
  }
  .footer__section .footer__container .footer--first .footer__search input {
    width: 100%;
  }
  .category__section .category__container .category__lower .category__lower--div {
    width: 100%;
  }
  .category__section .category__container .category__lower {
    gap: 1rem;
    padding: 1rem 11rem;
  }
  .courses__section .sliding__images {
    margin: 2rem;
  }
  .enroll__section .enroll__main__controller {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    left: 0rem;
    top: 53rem;
    padding: 2rem;
  }
  .courses__section {
    margin-top: 38rem;
  }
  .hero__section .hero__container {
    flex-direction: column;
    padding: 3rem;
  }
  .hero__section .hero__container .left_hero__container {
    align-items: center;
  }
  .hero__section .hero__container .left_hero__container .text h1 {
    font-size: 2rem;
    text-align: center;
  }
  .hero__section .hero__container .left_hero__container .text p {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
  }
  .hero__section .hero__container .left_hero__container .search input {
    outline: none;
    border: none;
    font-size: 1rem;
    height: auto;
  }
  .hero__section .hero__container .left_hero__container .search button {
    padding: 1rem;
    font-size: 1rem;
    height: auto;
  }
  .navbar .logo__section img {
    height: 2rem;
  }
  .navbar .button .myBtn {
    padding: 1rem;
    font-size: 1rem;
  }
  .hero__section .hero__container .left_hero__container .search {
    padding: 0rem;
  }
}
@media screen and (max-width: 400px) {
  .navbar .button {
    margin-left: 2rem;
  }
  .instructor__section .instructor__main--container .instructor__lower .instructor__profile img {
    width: 100%;
    height: auto;
  }
  .hero__section .hero__container .left_hero__container .search {
    width: 100%;
    display: none;
  }
  .hero__section .hero__container .right_hero__container img {
    height: 18rem;
  }
  .question__section .question__container {
    flex-direction: column;
  }
  .navbar {
    align-items: center;
    padding: 0rem;
    justify-content: space-around;
    margin: 0rem;
    gap: 0rem;
  }
  .category__section .category__container .category__lower {
    gap: 1rem;
    padding: 0rem 1rem;
  }
  .review__section .review__container .review__lower {
    flex-direction: column;
    padding: 1rem 1rem;
  }
  .footer__section .footer__container {
    flex-direction: column;
    padding: 1rem 0rem;
  }
  .courses__section .sliding__images .caroudsl__contrnt .carousel__container .image img {
    width: 100%;
  }
  .courses__section .sliding__images .caroudsl__contrnt .person__information {
    gap: 0rem;
  }
  .courses__section .sliding__images .caroudsl__contrnt .carousel__container .caurasaul__title .caursaul__timing {
    gap: 0rem;
  }
  .courses__section .sliding__images .caroudsl__contrnt .carousel__container .caurasaul__title h1 {
    font-size: 1rem;
  }
  .courses__section .sliding__images .caroudsl__contrnt .carousel__container .carousel__btn {
    gap: 4rem;
  }
  .question__section .question__container .question__container--left h1 {
    font-size: 1rem;
  }
  .question__section .question__container .question__container--right .outer__div .inner__div {
    padding: 1rem 1rem;
  }
  .question__section .question__container .question__container--right .outer__div .inner__div a {
    font-size: 1rem;
  }
  .app__section .app__container .app--left .app__logo {
    flex-direction: column;
    gap: 1rem;
  }
  .footer__section .footer__container .footer--first .footer__search {
    display: none;
  }
  .footer__section p {
    font-size: 1rem;
  }
}/*# sourceMappingURL=main.css.map */